<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="selectAllResultMap" type="com.example.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="password" column="password"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectAll" resultMap="selectAllResultMap">
        select *
        from user
    </select>

    <select id="selectByParam" parameterType="com.example.domain.vo.UserVO" resultMap="selectAllResultMap">
        select * from user
        <where>
            <trim prefixOverrides="and">
                <if test="id!=null and id!=''">
                    id = #{id}
                </if>
                <if test="name!=null and name!=''">
                    and name like "%"#{name}"%"
                </if>
            </trim>
        </where>
    </select>

    <select id="selectByPage" resultType="com.example.domain.vo.UserVO">
        select * from user ${ew.customSqlSegment}
    </select>

    <select id="userPageList" resultType="com.example.domain.vo.UserVO">
        select  * from user
        <where>
            <!-- 参数不为空时, 拼接动态sql -->
            <if test="userDTO.id !=null and userDTO.id !=''">
                id =#{userDTO.id}
            </if>

            <!-- 参数不为空时, 拼接动态sql -->
            <if test="userDTO.name!=null and userDTO.name!=''">
                and name like "%"#{userDTO.name}"%"
            </if>
        </where>

    </select>

</mapper>